.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

/* Space out content a bit */

@font-face
{
    font-family: 'JennaSue';

    src: url('../fonts/JennaSue.ttf');
}
@font-face
{
    font-family: 'Gidole';

    src: url('../fonts/Gidole-Regular.otf');
}
body
{
    font-family: 'Gidole';
}
a,
a:hover
{
    margin: 10px;

    cursor: pointer;
    text-decoration: none;

    color: black;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'JennaSue';
}
h1
{
    font-size: 7em;
}
h2
{
    font-size: 6em;
}
h3
{
    font-size: 5em;
}
h4
{
    font-size: 4em;
}
h5
{
    font-size: 2em;
}
label
{
    font-family: 'Gidole';
    font-weight: normal;
    font-style: normal;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
{
    padding-right: 15px;
    padding-left: 15px;
}
.subtitle span
{
    font-size: 20px;
}
.navbar
{
    z-index: 999;

    margin: 0;
    padding: 0;

    background-color: none;
}
.navbar-default
{
    border-color: transparent;
    background-color: transparent;
}
.contact
{
    display: block;

    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
}
.sectioncontact
{
    border-top: .5px solid black;
    border-bottom: .5px solid black;
}
.send
{
    width: 100%;

    background-color: black;
}
.btn-primary:hover
{
    color: black;
    background-color: white;
}
/* Custom page header */
.header
{
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3
{
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer
{
    padding-top: 19px;

    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron
{
    text-align: center;

    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn
{
    font-size: 21px;

    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 40px 0;
}

.marketing p + h4
{
    margin-top: 28px;
}
.left,
.right,
.left:hover,
.right:hover,
{
    margin: 0 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    .container
    {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer
    {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}
/* logo container in the middle of the screen */
.maincontainer
{
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;

    width: 500px;
    height: .25;
    margin: -120px 0 0 -240px;

    -webkit-animation: logo 1.5s ; /* Chrome, Safari, Opera */
            animation: logo 1.5s;
    text-align: center;
}
.options
{
    font-size: 25px;

    margin-top: 25px;
}
.subtitle
{
    margin: 10px;
}

/* Logo Font */
#aleTitle
{
    font-family: 'JennaSue';
    font-size: 10em;
}
#alenavtitle
{
    font-family: 'JennaSue';
    font-size: 3em;

    margin: 5px 0 0 10px;
}

/*logo animation */

/* Chrome, Safari, Opera */
@-webkit-keyframes logo
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: .25;
    }
    50%
    {
        opacity: .50;
    }
    75%
    {
        opacity: .75;
    }
    100%
    {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes logo
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: .25;
    }
    50%
    {
        opacity: .50;
    }
    75%
    {
        opacity: .75;
    }
    100%
    {
        opacity: 1;
    }
}
.carousel
{
    margin: 0;
    margin-top: -100px;
    padding: 0;
}
.carousel-inner > .item > img
{
    width: 100%;
    height: 680px;
}

/*Social Butttons */

.social
{
    font-size: 2.5em;

    overflow: hidden;

    width: 100%;
    height: 300px;
    padding-top: 60px;

    text-align: center;

    color: white;
    background-color: black;
}
.social a
{
    text-decoration: none;

    color: inherit;
}
.social i
{
    margin: .3em;

    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);
}
.social i:hover
{
    margin-top: -1px;
}
.social i#twitter:hover
{
    color: #77ddf6;
}
.social i#github:hover
{
    color: black;
}
.social i#linkedin:hover
{
    color: #0177b5;
}
.social i#code:hover
{
    color: #29a329;
}
.social i#stack:hover
{
    color: #ed780e;
}
.social i#plus:hover
{
    color: #d43402;
}
.social i#mail:hover
{
    color: #f7b401;
}
.jumbotron
{
    margin: 0;
}
